/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile germline_small,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                = "${params.test_data_base}/samplesheet/samplesheet_small_germline_hg38.csv"
    outdir               = "results"

    // Genome references
    genome               = 'GRCh38'

    // Processes
    analysis             = 'germline'
    variant_type         = "small"
    method               = 'happy,rtgtools'
    preprocess           = "normalize,deduplicate,prepy"

    // truth information
    truth_id             = "HG002"
    truth_vcf            = "${params.test_data_base}/testdata/hg38/truth/germline/HG002_GRCh38_1_22_v4.2_benchmark_chr21.vcf.gz"
    regions_bed          = "${params.test_data_base}/testdata/hg38/truth/germline/HG002_GRCh38_1_22_v4.2_benchmark_chr21.bed"
    rename_chr           = "${projectDir}/assets/rename_contigs/grch37_grch38.txt"
}
