/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile germline_bnd,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                = "${params.test_data_base}/samplesheet/samplesheet_sv_germline_hg37.csv"
    outdir               = "results"

    // Genome references
    genome               = 'GRCh37'

    // Processes
    analysis             = 'germline'
    variant_type         = "structural"
    preprocess           = "split_multiallelic,normalize,deduplicate,filter_contigs"
    method               = "bndeval"
    sv_standardization   = "svdecompose"
    min_sv_size          = 30
    truth_id             = "HG002"

    truth_vcf            = "${params.test_data_base}/testdata/hg37/truth/germline/HG002_SVs_Tier1_v0.6.chr21.vcf.gz"
    targets_bed          = "${params.test_data_base}/testdata/hg37/truth/germline/HG002_SVs_Tier1_v0.6.chr21.bed"
    rename_chr           = "${projectDir}/assets/rename_contigs/grch38_grch37.txt"
}
