/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile liftover_test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'BCFTOOLS_NORM*' {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withName: 'BCFTOOLS_FILTER*' {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withName: 'BCFTOOLS_SORT*' {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
}

params {
    config_profile_name        = 'Test profile: liftover_test'
    config_profile_description = 'Minimal test dataset to check pipeline function'

  // Input data
    input                = "${params.test_data_base}/samplesheet/samplesheet_sv_germline_hg37_liftover.csv"
    outdir               = 'results'
    genome               = 'GRCh37'

    // Processes
    analysis             = 'germline'
    variant_type         = "structural"
    method               = 'truvari,svanalyzer'
    preprocess           = "split_multiallelic,normalize,deduplicate"
    min_sv_size          = 30

    truth_id             = "HG002"
    truth_vcf            = "${params.test_data_base}/testdata/hg37/truth/germline/HG002_SVs_Tier1_v0.6.chr21.vcf.gz"
    regions_bed          = "${params.test_data_base}/testdata/hg37/truth/germline/HG002_SVs_Tier1_v0.6.chr21.bed"

    //liftover files
    liftover              = "test"
    chain                 = "http://ftp.ensembl.org/pub/assembly_mapping/homo_sapiens/GRCh38_to_GRCh37.chain.gz"
    rename_chr           = "${projectDir}/assets/rename_contigs/grch38_grch37.txt"

}
