/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile somatic_indel,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.5GB'
    max_time   = '8.h'

    // Input data
    input           = "${params.test_data_base}/samplesheet/samplesheet_indel_somatic_hg38.csv"

    outdir          = 'results'

    // Genome references
    genome          = 'GRCh38'
    analysis        = 'somatic'
    truth_id        = "SEQC2"
    method          = 'rtgtools'
    preprocess      = "filter_contigs"
    variant_type    = "indel"

    truth_vcf       = "${params.test_data_base}/testdata/hg38/truth/somatic/sINDEL_truth_set_v1.0.chr21.vcf.gz"
    regions_bed     = ""
    rename_chr      = "${projectDir}/assets/rename_contigs/grch37_grch38.txt"
}
