process { withName: 'HAPPY_REPORT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e2/e2ad64af90253516c2f3b962f9572414097ffb33c2dbad0745122fdbb94b31ea/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e48aa28aebc881254a499b24c3e1ce77b8df1b85a5432699ed6f72eb17ac7fb5/data' } }
