process { withName: 'HAPPY_REPORT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/d9/d950f94e67e3b80cf5c7e4518dbd8413224f02ce0aa769f6e11d2dc26086d2b3/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c8/c8e346f4f6080eadf1253505e6ff09ef004454fc18e8d672006fd7b222cc412e/data' } }
