/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: "BCFTOOLS_NORM_1" {
        ext.prefix = {"${params.sample}"}
        ext.args   = {"--output-type z -N -m-any -c w" }
        ext.prefix = {"${meta.id}_norm"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/preprocess"},
            pattern: "*{.vcf.gz,vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }
    withName: "BCFTOOLS_NORM_2" {
        ext.prefix = {"${params.sample}"}
        ext.args   = {"--output-type z --rm-du exact -c w" }
        ext.prefix = {"${meta.id}_dedup"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/preprocess"},
            pattern: "*{.vcf.gz,vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }
    withName: BCFTOOLS_RENAME_CHR {
        ext.args   = {"--output-type z" }
        ext.prefix = {"${meta.id}_rename_chr"}
        publishDir = [
            path: { "${params.outdir}/test" },
            enabled: false
        ]
    }
    withName: "BCFTOOLS_REHEADER_TRUTH" {
        ext.args2   = {"--output-type v" }
        ext.prefix = {"${meta.id}_truth"}
        publishDir = [
            path: { "${params.outdir}/test" },
            enabled: false
        ]
    }
    withName: "BCFTOOLS_REHEADER_TEST" {
        ext.args2   = {"--output-type v" }
        ext.prefix = {"${meta.id}_query"}
        publishDir = [
            path: { "${params.outdir}/test" },
            enabled: false
        ]
    }
    withName: BCFTOOLS_VIEW {
        ext.prefix = {"${params.sample}"}
        ext.args2   = {"--output-type z" }
        ext.prefix = {"${meta.id}_filter"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/preprocess"},
            pattern: "*{.vcf.gz,vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }
    withName: SURVIVOR_STATS {
        ext.prefix = {"${params.sample}"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/stats/survivor/"},
            pattern: "*{.stats}",
            mode: params.publish_dir_mode
        ]
    }
    withName: SURVIVOR_FILTER {
        ext.prefix = {"${params.sample}.filter"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/preprocess"},
            pattern: "*{.vcf}",
            mode: params.publish_dir_mode
        ]
    }
    withName: BCFTOOLS_STATS {
        ext.prefix = {"${params.sample}.filter"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/stats/bcftools/"},
            pattern: "*{stats.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: "TRUVARI_PHAB" {
        ext.prefix = {"${params.sample}"}
        ext.prefix = {"${meta.id}.harm"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/truvari_phab/"},
            pattern: "*{.vcf.gz,vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }
    withName: "TRUVARI_BENCH" {
        ext.prefix = {"${params.sample}"}
        ext.args   = {"--pctsize 0.5 --pctovl 0.5 --refdist 1000 --pick ac"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/truvari_bench"},
            pattern: "*{.vcf.gz,vcf.gz.tbi,json}",
            mode: params.publish_dir_mode
        ]
    }
    withName: SVANALYZER_SVBENCHMARK {
        ext.prefix = {"${params.sample}"}
        ext.args   = {"-normshift 0.3 –normdist 0.3 –normsizediff 0.3"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/svanalyzer_bench"},
            pattern: "*{.vcf,distances,log,report}",
            mode: params.publish_dir_mode
        ]
    }
    withName: WITTYER {
        ext.prefix = {"${params.sample}"}
        ext.args   = {"--evaluationMode=CrossTypeAndSimpleCounting --percentDistance=0.3 --bpDistance=1000"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/wittyer_bench"},
            pattern: "*{json,.vcf.gz.tbi,vcf.gz}",
            mode: params.publish_dir_mode
        ]
    }
    withName: VCFDIST {
        ext.prefix = {"${params.sample}"}
        ext.args   = {"-v 0"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/vcfdist_bench"},
            pattern: "*{.vcf,tsv}",
            mode: params.publish_dir_mode
        ]
    }
    withName: BAMSURGEON_EVALUATOR {
        ext.prefix = {"${params.sample}"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/bamsurgeon_evalator"},
            pattern: "*{.vcf}",
            mode: params.publish_dir_mode
        ]
    }
    withName: HAPPY_SOMPY {
        ext.prefix = {"${params.sample}"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/sompy_bench"},
            pattern: "*{.vcf.gz,vcf.gz.tbi,json,csv}",
            mode: params.publish_dir_mode
        ]
    }
    withName: MANTA_CONVERTINVERSION {
        ext.prefix = {"${params.sample}"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/preprocess"},
            pattern: "*{.vcf.gz,vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }
    withName: SVYNC {
        ext.prefix = {"${params.sample}.stnd"}
        publishDir = [
            path: {"${params.outdir}/${meta.id}/preprocess"},
            pattern: "*{.vcf.gz,vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }
}
//
// Don't publish results for these processes
//
process {
    withName: 'BGZIP_TABIX|TABIX_TABIX|TABIX_BGZIPTABIX|TABIX_BGZIP' {
        publishDir = [
            path: { "${params.outdir}/test" },
            enabled: false
        ]
    }
}
