/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/benchmark -profile <docker/singularity> -config conf/test_hg37_full.config --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '100.GB'
    max_time   = '8.h'

    // Input data
    input                = 'assets/samplesheet_HG002_hg37_full.csv'
    outdir               = 'results'

    // Genome references
    genome               = 'GRCh37'
    sample               = "HG002"

    // Processes
    analysis             = 'germline'
    method               = 'truvari,svanalyzer,rtgtools,happy'  //
    preprocess           = "normalization,deduplication,filter_contigs"
    min_sv_size          = 30
    //include_expression = 'FILTER="PASS"'

}
