/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = 100.GB
    max_time   = '8.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input           = 'assets/samplesheet_HG002.csv'
    outdir          = 'results'

    // Genome references
    genome          = 'GRCh37'
    analysis        = 'germline' //somatic
    method          = 'truvari,svanalyzer'  // --not working for now : wittyer, vcfdist

    similarity      = 0 // determines the sequence similarity level in benchmarking.
    standardization = true
    preprocess      = "normalization, deduplication"
    //bnd_to_inv      = true

    sample          = "HG002" // available samples: SEQC2, HG002
    truth_sv           = "/Users/w620-admin/Desktop/nf-core/dataset/hg37/NIST_SV/HG002_SVs_Tier1_v0.6.vcf.gz"
    high_conf_sv       = "/Users/w620-admin/Desktop/nf-core/dataset/hg37/NIST_SV/HG002_SVs_Tier1_v0.6.bed"

}
