/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                = "${projectDir}/assets/samplesheet.csv"

    outdir               = "results"

    // Genome references
    genome               = 'GRCh37'

    // Processes
    analysis             = 'germline'
    variant_type         = "structural"
    method               = 'svanalyzer'
    preprocess           = "normalize,deduplicate,filter_contigs"

    // truth information
    truth_id             = "HG002"
    truth_vcf            = "${params.test_data_base}/testdata/hg37/truth/germline/HG002_SVs_Tier1_v0.6.chr21.vcf.gz"
    regions_bed          = "${params.test_data_base}/testdata/hg37/truth/germline/HG002_SVs_Tier1_v0.6.chr21.bed"
}
