/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/variantbenchmarking -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus            = 16
    max_memory          = 100.GB
    max_time            = '8.h'

    // Input data
    input               = "${params.test_data_base}/samplesheet/samplesheet_full_somatic.csv"
    outdir              = 'results'

    // Genome references
    genome              = 'GRCh38'
    analysis            = 'somatic'
    variant_type        = "indel"
    method              = 'sompy'
    preprocess          = "split_multiallelic,normalize,deduplicate,filter_contigs"

    truth_id            = "SEQC2"
    truth_vcf           = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/seqc/Somatic_Mutation_WG/release/v1.1/sINDEL.MDKT.superSet.v1.1.vcf.gz"
    regions_bed         = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/seqc/Somatic_Mutation_WG/release/v1.1/High-Confidence_Regions.bed"

}
