/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/benchmark -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '100.GB'
    max_time   = '8.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                = 'assets/samplesheet_HG002_hg38.csv'
    outdir               = 'results'

    // Genome references
    genome               = 'hg38'

    // Processes
    analysis             = 'germline' //somatic
    method               = 'truvari,svanalyzer'  // --not working for now : wittyer, vcfdist
    //harmonize          = true  // ATTENTION : takes long time because of multi-alignment process. 
    similarity           = 0 // determines the sequence similarity level in benchmarking.
    preprocess           = "normalization, deduplication"

    // Truvari params
    //dup_to_ins          = true // truvari cannot benchmark DUP type, convert DUP type to INS. Has to be used with similarity = 0

    // Manta params
    //bnd_to_inv          = true  // manta reports INV as BND  

    // Gridss params
    //gridss_annotate     = true

    //standardization     = true

    sample                = "HG002" // available samples: SEQC2, HG002
    truth                 = "/Users/w620-admin/Desktop/nf-core/dataset/hg38/HG002_CMRG_V1_Truth/HG002_GRCh38_CMRG_SV_v1.00.vcf.gz"
    high_conf             = "/Users/w620-admin/Desktop/nf-core/dataset/hg38/HG002_CMRG_V1_Truth/HG002_GRCh38_CMRG_SV_v1.00.bed"

}
