
params {
    // Base directory for test data
    truth {
        'GRCh38' {
            'germline' {
                'HG002'{
                    sv_bed  = "/Users/w620-admin/Desktop/nf-core/dataset/hg38/NIST_GIAB/HG002_SVs_Tier1_v0.6.bed"
                    snv_bed = "/Users/w620-admin/Desktop/nf-core/dataset/hg38/NIST_GIAB/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                }
            }
            'somatic' {
                'HG002'{
                    sv_bed  = '/Users/w620-admin/Desktop/nf-core/dataset/hg38/HG002_CMRG_V1_Truth/HG002_GRCh38_CMRG_SV_v1.00.bed'
                    snv_bed = '/Users/w620-admin/Desktop/nf-core/dataset/hg38/HG002_CMRG_V1_Truth/HG002_GRCh38_CMRG_smallvar_v1.00.bed'
                }
                'SEQC2'{
                    snv_bed = '/Users/w620-admin/Desktop/nf-core/dataset/hg38/SEQC_somatic_mutation_truth/High-Confidence_Regions_v1.2.bed'
                    sv_bed  = '/Users/w620-admin/Desktop/nf-core/dataset/hg38/SEQC_somatic_mutation_truth/High-Confidence_Regions_v1.2.bed'
                }
            }
        }
    }
}
