
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for truth paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Can be used by any config that customises the base path using:
        $params.truth / --truth
----------------------------------------------------------------------------------------
*/

params {
    // Base directory for truth data
    germline {
        'GRCh38' {
            'HG002'{
                truth_small           = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/CRMG_benchmark_dataset/HG002_GRCh38_CMRG_smallvar_v1.00.vcf.gz"
                high_conf_small       = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/CRMG_benchmark_dataset/HG002_GRCh38_CMRG_smallvar_v1.00.bed"
                truth_sv              = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg38/truth/HG002_GRCh38_difficult_medical_gene_SV_benchmark_v0.01.chr21.vcf.gz"
                high_conf_sv          = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg38/truth/HG002_GRCh38_difficult_medical_gene_SV_benchmark_v01.ch21.bed"
                truth_cnv             = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg38/truth/HG002_GRCh38_difficult_medical_gene_SV_benchmark_v0.01.chr21.vcf.gz"
                high_conf_cnv         = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg38/truth/HG002_GRCh38_difficult_medical_gene_SV_benchmark_v01.ch21.bed"
            }
        }
        'GRCh37'{
            'HG002'{
                truth_small           = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg37/truth/HG002_GRCh37_1_22_v4.2.1_highconf.chr21.vcf.gz"
                high_conf_small       = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg37/truth/HG002_GRCh37_1_22_v4.2.1_highconf.bed"
                truth_sv              = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg37/truth/HG002_SVs_Tier1_v0.6.chr21.vcf.gz"
                high_conf_sv          = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg37/truth/HG002_SVs_Tier1_v0.6.chr21.bed"
                truth_cnv             = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg37/truth/HG002_SVs_Tier1_v0.6.chr21.vcf.gz"
                high_conf_cnv         = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/SV_testdata/hg37/truth/HG002_SVs_Tier1_v0.6.chr21.bed"
            }
        }
    }
    somatic{
        'GRCh38'{
            'SEQC2'{
                truth_snv             = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/somatic/test/hg38/sSNV_truth_set_v1.0.chr21.vcf.gz"
                high_conf_snv         = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/somatic/test/hg38/high-confidence_sSNV_in_HC_regions_v1.2.chr21.vcf.gz"
                truth_indel           = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/somatic/test/hg38/sINDEL_truth_set_v1.0.chr21.vcf.gz"
                high_conf_indel       = "https://raw.githubusercontent.com/kubranarci/benchmark_datasets/main/somatic/test/hg38/high-confidence_sINDEL_in_HC_regions_v1.2.chr21.vcf.gz"
            }
        }
    }
}
